.sidebar {
    width: 16rem;
    transition: width 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.sidebar.collapsed {
    width: 4rem;
}

.sidebar.collapsed .sidebar-text {
    display: none;
}

.sidebar.collapsed .nav-link {
    justify-content: center;
}

#toggle-btn {
    transition: transform 0.3s ease-in-out;
}

.sidebar.collapsed #toggle-btn i {
    transform: rotate(180deg);
}